<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/libs :: libs"></div>
    <title>Main page</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
        <a class="p-2 text-muted" th:href="@{/}">All</a>
        <a class="p-2 text-muted" th:href="@{/?view=quiz}">Quiz</a>
        <a class="p-2 text-muted" th:href="@{/?view=survey}">Survey</a>
    </nav>
</div>

<span th:text="${view}" />

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Quiz</strong>
                <h3 class="mb-0">Quiz title</h3>
                <div class="mb-1 text-muted">
                    <div style="width: 50%" >
                        Posting date: {th: posting date}
                    </div>
                    <div style="width: 50%">
                        Posted by: {th: user name}
                    </div>

                </div>
                <p class="card-text mb-auto"> Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych „kombinacji” zdań, słów i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to „zbyt czytelnie” po polsku. Wielu webmasterów i designerów używa Lorem Ipsum jako domyślnego modelu tekstu i wpisanie w internetowej wyszukiwarce ‘lorem ipsum’ spowoduje znalezienie bardzo wielu stron, które wciąż są w budowie. Wiele wersji tekstu ewoluowało i zmieniało się przez lata, czasem przez przypadek, czasem specjalnie (humorystyczne wstawki itd). </p>
                <a href="#" class="stretched-link">Click for more details</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>