<!DOCTYPE HTML>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Survey Directory</title>
</head>

<body>
<div class="container">

    <h3>Survey Directory</h3>
    <hr>

    <!--		Add a buttton-->
    <!--		@symbol | reference context path of your application -->

<!--    TO POKAZAĆ FILIPOWI BO ON JUŻ TO ZROBIŁ-->
    <a th:href="@{/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Survey
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Creation date</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>

        for( int a: array){

        }

        <tr th:each="tempSurveys : ${surveyKs}">

            <td th:text="${tempSurveys.title}" />
<!--            <td th:text="${tempEmployee.lastName}" />-->
<!--            <td th:text="${tempEmployee.email}" />-->

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>



