<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div th:object="${survey}" class="container">
    <h3><span th:text="*{title}" /> </h3>
    <hr>

    <div th:object="${question}">
<!--        odwołuje się do pola question w klasie Question-->
       <h6> <span th:text="*{question}"/> </h6>

<!--        style="display:inline-block"-->
        <table class="table table-bordered table-striped" style="width: 200px">
            <tbody>
            <tr th:each="tempReply : ${replies}">

<!--                <td th:text="${tempReply.answer}" />-->
                <td><input type="radio" value=th:text="${tempReply.answer}" name="answer" />      <span th:text="${tempReply.answer}"/></td>
            </tr>
            </tbody>
        </table>


            <a th:href="@{tutaj wpisać jakąś stronę z wynikiem}"
               class="btn btn-primary btn-sm mb-3">
                Submit
            </a>




<!--    <div th:each="question : ${questions}">-->
<!--        <p th:text="${question.question}" />-->
<!--        <ul th:each="reply : ${replies}">-->


<!--        </ul>-->


<!--    </div>-->
    </div>
</div>

</body>
</html>